
  <div id="pointDetails">
      {{#if content}}
        <ul class="placeMarkBasicInfo floats-in">
           {{#if view.cartoMaps}}
              <h3>{{surveyedLocaleDisplayName}}</h3>
              <li>
                 <span>{{t '_data_point_id'}}:</span>
                 <label style="display: inline; margin: 0 0 0 5px;">{{surveyedLocaleIdentifier}}</label>
              </li><br>
           {{/if}}
              <li>
                <span>{{t '_collected_on'}}:</span>
                <div class="placeMarkCollectionDate">
                    {{date-format content.collectionDate}}
                </div>
              </li>
              <li></li>         
        </ul>
        <div class="mapInfoDetail">
            <p>{{placemark-detail content}}</p>
              {{!log 'displayMap' displayMap}}
            {{#if showingShape}} 
            <div class="sidebar-geoshape" style="width:150px;height:100px">
               <h3>Leaflet demo here</h3> 
            </div>
            {{/if}}
        </div>
        {{else}}
          <p class="noDetails">{{t '_no_details'}}</p>
      {{/if}}
  </div>