
  <div id="pointDetails">
      {{#if content}}
        <ul class="placeMarkBasicInfo floats-in">
           {{#if view.cartoMaps}}
              <h3>{{surveyedLocaleDisplayName}}</h3>
              <li>
                 <span>{{t '_data_point_id'}}:</span>
                 <label style="display: inline; margin: 0 0 0 5px;">{{surveyedLocaleIdentifier}}</label>
              </li><br>
           {{/if}}
              <li>
                <span>{{t '_collected_on'}}:</span>
                <div class="placeMarkCollectionDate">
                    {{date-format content.collectionDate}}
                </div>
              </li>
              <li></li>         
        </ul>
        <div class="mapInfoDetail">
            <p>{{placemark-detail content}}</p>
              {{!log 'displayMap' displayMap}}
            {{#if showingShape}} 
            <div class="sidebar-geoshape" style="max-height:150px">
               <h3>Leaflet demo here</h3> 
               {{#leaflet-map lat=lat lng=lng zoom=zoom }}
                  {{tile-layer url = "http://{s}.tile.osm.org/{z}/{x}/{y}.png"}}
                  {{#if showPolygon}}
                    {{#polygon-layer locations = dangerZone color = "red" }}
                       {{#tooltip-layer sticky= true}}
                          DANGER ZONE
                       {{/tooltip-layer}}
                    {{/polygon-layer}}
                  {{/if}}
               {{/leaflet-map}}
            </div>
            {{/if}}
        </div>
        {{else}}
          <p class="noDetails">{{t '_no_details'}}</p>
      {{/if}}
  </div>