<section id="main" class="mapFlow floats-in middleSection" role="main">
  {{select-box
    content = tileLayers
    selection= selectedOption
    optionLabelPath="label"
    optionValuePath="value"
    prompt = 'select your favourite map layer'
    didChangeAction= 'changeLayer'
   }}
   {{!hello-mary name = name college = college}}
    <p>Latitude:<code>{{lat}}</code> / longitude :<code>{{lng}}</code></p><br>
    <p><label>{{input type = "checkbox" checked = nightMode}}Night Mode</label></p>
    
  <div id="dropdown-holder">
     <div id="mapDetailsHideShow" class="drawHandle hideMapD"></div>
  </div>
       {{#leaflet-map lat=lat lng=lng zoom=zoom onMoveend=(action 'updateCenter')}}
             {{!-- Specify child layer components here --}}
               {{#layer-group name = "tileLayer#1" baselayer=true default=true}}
                    {{tile-layer url = "http://{s}.tile.osm.org/{z}/{x}/{y}.png"}}
               {{/layer-group}}
               {{#layer-group name = "tileLayer#2" baselayer=true}}
                  {{tile-layer url = "https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}"}}
               {{/layer-group}}
             {{!u need to play with the markers n popups}}
             {{#each locationPoints as |POI|}}
               {{#marker-layer  location = POI.dataPoint onClick=(action 'showModal')}}
                  {{#popup-layer}}
                     <h3>{{POI.title}}</h3>
                      {{POI.street}}<br>
                  {{/popup-layer}}
               {{/marker-layer}}
             {{/each}}
             
             {{! what about the polygon layer that can show the cluster}}
             {{#polygon-layer locations = dangerZone color = "red" }}
                {{#tooltip-layer sticky = true}}
                   COOL ZONE
                {{/tooltip-layer}}
             {{/polygon-layer}}
        {{! Add the leaflet-layer-control here}}
            {{layer-control handler =(action "layerControlEvent")}}
      {{/leaflet-map}}

</section>