<section id="main" class="mapFlow floats-in middleSection" role="main">
    {{select-box
       content = projectSurveys
       selection= selectedSurvey
       optionLabelPath = "label"
       optionValuePath="value"
       prompt = "select the survey"
       class = "select-box-widget"
       didChangeAction = 'showMarkers'     
    }} 
  <div id="dropdown-holder">
     <div id="mapDetailsHideShow" class="drawHandle hideMapD">{{t '_hide'}}</div>
  </div>
  <div id = "flowMap">
       {{#leaflet-map lat=lat lng=lng zoom=zoom onMoveend=(action 'updateCenter')}}
             {{!-- Specify child layer components here --}}
                {{! base layers ==> streets n satellite}}
               {{#layer-group name = "streets" baselayer=true default=true}}
                    {{tile-layer url=mapBox.street attribution=defaultAttr}}
               {{/layer-group}}
               {{#layer-group name = "satellite" baselayer=true}}
                  {{tile-layer url=mapBox.satellite attribution=defaultAttr}}
               {{/layer-group}}
               {{#layer-group name = "terrain" baselayer=true}}
                  {{tile-layer url=mapBox.terrain  attribution=defaultAttr}}
               {{/layer-group}}
                {{! end of the base layers}}
             {{!u need to play with the markers n popups}}
             {{! overlayers - placed on the baselayers}}
            {{#layer-group name = "markerLayer#1" default=true}}
             {{#each locationDetails as |POI|}}
               {{#marker-layer  location = POI.dataPoint onClick=(action 'showModal')}}
                  {{#popup-layer}}
                     <h3>{{POI.surveyId}}</h3>
                      {{POI.detailsId}}<br>
                  {{/popup-layer}}
               {{/marker-layer}}
             {{/each}}
            {{/layer-group}} 
             
        {{! Add the leaflet-layer-control here}}
            {{layer-control handler =(action "layerControlEvent")}}
      {{/leaflet-map}}
 </div> <!--end of the flowMap -->
  {{! component to show the placemarkdetails part}}
    {{placemark-detailinfo}}
  <div id="flowMapLegend">
     <h1>{{t _legend}}</h1>
   </div>
</section>