<section id="main" class="mapFlow floats-in middleSection" role="main">
  {{select-box
    content = tileLayers
    selection= selectedOption
    optionLabelPath="label"
    optionValuePath="value"
    prompt = 'select your favourite map layer'
    didChangeAction= 'changeLayer'
   }}
    <p>Latitude:<code>{{lat}}</code> / longitude :<code>{{lng}}</code></p><br>
    <p><label>{{input type = "checkbox" checked = nightMode}}Night Mode</label></p>
    
  <div id="dropdown-holder">
     <div id="mapDetailsHideShow" class="drawHandle hideMapD"></div>
  </div>
       {{#leaflet-map lat=lat lng=lng zoom=zoom onMoveend=(action 'updateCenter')}}
             {{!-- Specify child layer components here --}}
              {{#if nightMode}}
                {{tile-layer url = "https://{s}.basemaps.cartocdn.com/dark_all/{z}/{x}/{y}.png"}}
              {{else}}
                {{tile-layer url= defaultLayer}} 
              {{/if}}
             {{!u need to play with the markers n popups}}
             {{#each locationPoints as |POI|}}
               {{#marker-layer  location = POI.dataPoint onClick=(action 'showModal')}}
                  {{#popup-layer}}
                     <h3>{{POI.title}}</h3>
                      {{POI.street}}<br>
                  {{/popup-layer}}
               {{/marker-layer}}
             {{/each}}
             
             {{! what about the polygon layer that can show the cluster}}
             {{#polygon-layer locations = dangerZone color = "red" }}
                {{#tooltip-layer sticky = true}}
                   COOL ZONE
                {{/tooltip-layer}}
             {{/polygon-layer}}
        
      {{/leaflet-map}}

</section>